/*======================================
			RESPONSIVE CSS
=======================================*/


/*==========================================================
		RESPONSIVE SCREEN 1200px
===========================================================*/
@media(min-width:1200px) {
	/* .img-acc-about img{
		width:55%;
	} */
}

/*==========================================================
		RESPONSIVE SCREEN 1112px
===========================================================*/
@media(max-width:1112px) {
	.img-acc-about-ct-02 {
		position: relative;
		top:0;
	}
	#about-02 {
		margin:0;
	}
	#about-03 {
		margin:0;
	}
	.ct-2017-title-wrapper-02 {
		margin-top:90px;
		margin-left:0;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 1024px
===========================================================*/
@media(max-width:1024px) {
	.img-header-homepage {
		position: relative;
	}
	.tagline-logo {
		padding-left:15px;
	}
	.homepage-text {
		margin-top:-70px;
	}
	#about-01 .tittle {
		margin-top:50px;
	}
	#about-03 {margin:0}
	.img-acc-about {
		top:1270px;
	}
	.img-acc-about img{
		width:25%;
	}
	.img-acc-hadiah {
		top:0;
	}
	.img-acc-hadiah img {
		width:55%;
	}
	.img-header-artikel {
		width: 40%;
		top:auto;
		bottom: 0;
	}
	.ct-2017-title-wrapper-02 {
		margin-left:20px;
	}
	#about {
		padding-top: 0;
	}
	#coporate #about .nav-tabs > li {
		width: 21.9%;
	}
	#coporate .b-tittle {
		width: 60%;
	}
	.blog_content h4 a.content_title {
		font-size:18px;
	}
	.blog_content p {
		font-size:14px;
		line-height: 16px;
	}
	#submission .add-submit ul li {
		line-height: 40px;
	}
	.add-submit {
		margin-bottom: 30px;
	}
	#page-header h3 {
		font-size: 24px;
	}
	#page-header p {
		font-size:16px;
	}
	.img-header-homepage img {
		width:100%;
	}
	.logo-coffeetone-homepage {
		width:400px;
	}
	.img-header-activity-2017 {
		left:-10px;
		top:-110px;
	}
	.img-header-activity-2017 img {
		width:40%;
	}
	.img-acc-about-ct {
		left: -130px;
	  top: -10px;
	}
	.img-acc-about-ct img {
		width:80%;
	}
	.img-acc-about-ct-02 {
		position: relative;
		top: 0;
	}
	.img-header-gallery-casual {
		right:-20px;
	}
	.logo-inside-banner {
		width:160px;
	}
	.btn-mobile {
		/* z-index: 10; */
    position: absolute;
    transform: translateX(-50%);
	}
	.ug-thumb-wrapper.ug-tile .ug-tile-icon {
		background-size: cover !important;
		width:37px !important;
		height: 37px !important;
	}
	.ug-gallery-wrapper .ug-textpanel {
		bottom: 0 !important;
	}
	.ug-tile .ug-textpanel-title {
		font-size: 12px !important;
		font-weight: 400 !important;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 800px
===========================================================*/

@media(min-width:960px) and (max-width:1050px) {
	#page-header {
		padding-top:116px;
	}
	.logo-coffeetone-homepage {
		width:400px;
	}
	.rotate {
	    left: -20px !important;
	}

}

@media(min-width:800px) and (max-width:1050px) {
	#page-header {
		padding-top:116px;
	}
.rotate {
    left: -100px;
}

}

/*==========================================================
		RESPONSIVE SCREEN 768px ---- 991px
===========================================================*/
@media(min-width:768px) and (max-width:991px) {

	#page-header {
		padding-top:116px;
	}
	#creative #owl-clients {
	    left: 2%;
	}

	.rotate {
	    left: -117px;
	}
	.kategori_teks {
		top: 185px;
		padding: 0 5px;
	}
	#coporate #banner .text {
	    position: absolute;
	    margin: 23% auto 0px;
	}

	#coporate .client_logo_area {
	    margin: 0px auto;
	    width: 100%;
	    left: -0%;
	    position: relative;
	}

	#coporate #owl-clients img {
		width:100%;
	}

	#coporate #owl-clients .owl-controls .owl-prev {
	    left: -20px;
	}

	#coporate #owl-clients .owl-controls .owl-next {
	    right: -20px;
	}

	#coporate .work_img {
	    height: auto;
	}

	#coporate .gallery_meta a {
	    width: 100%;
	    padding: 15% 0px;
	}

	#about .tabs {
		width: 100%;
	}
	#about .nav-tabs > li {
		width: 23.5%
	}
	#about .text {
		margin-top: 300px;
		margin-bottom: 30px;
	}
	ul.team_menu li {
		padding: 15px 16px;
	}
	#client .client_rotate {
		left: -140px;
	}
	.silver {
		margin-top: 60px;
	}
	.add-submit {
		position: relative;
		/* display: inline-block; */
	}
	.silver {
		margin-bottom: 60px;
	}
	#coporate #about .nav-tabs > li {
		width: 21%;
	}

	#portfolio-item .item {
		width: 50%;
		float: left;
	}
	#coporate #banner .text {
		left: 0px;
	}
	.menu {
		left: 0px;
		width: 100%;
		padding: 0 15px;
	}
	#restaurant #nav li {
		margin: 0 15px;
	}
	#header .logo {
		margin-top: 20px;
	}
	#restaurant #banner {
		margin-top: -100px;
	}
	#creative #nav li a{
		padding: 20px 10px;
	}
	.user-photo {float: none;}
}

/*==========================================================
		RESPONSIVE SCREEN 992px ---- 1199px
===========================================================*/

@media(min-width:768px) and (max-width:1050px) {

	#page-header {
		padding-top:116px;
	}
	.kategori_teks {
		top: 225px;
		padding: 0 5px;
	}
	.logo-coffeetone-homepage {
    width: 460px;
		margin-top:-90px;
	}
	.client_logo_area {
	    margin: 0px auto;
	    width: 104%;
	    left: -4%;
	    position: relative;
	}
	.user-photo {float: none;}
}

@media(min-width:480px) and (max-width:767px) {
	#page-header {
		padding-top:140px;
	}
	.img-header-activity-2016 {
		position: absolute;
		right:-100px;
		top:-120px;
	}
	.kategori_teks {
		top: 290px;
	}
	.user-photo {float: none;}
}

/*==========================================================
		RESPONSIVE SCREEN 767px
===========================================================*/
@media(max-width:767px) {
	#wrap {
		position: relative;
	}
	.img-header-activity-2017 img {
		width:40%;
	}
	.img-header-activity-2016 {
		width:60%;
		right:-15px;
		top:-120px;
	}
	.img-header-gallery-profesional {
		width:44%;
		left:0;
		top:40px;
	}
	.logo-coffeetone-homepage {
    width: 310px;
		margin-top:-40px;
	}
	.kategori_teks {
		top: 415px;
	}
	.ct-2017-title-wrapper-02 {
		margin-top:50px;
		margin-left:20px;
	}
	.img-acc-karegori img {
		width:45%;
	}
	.img-acc-about-ct-04b {
		right:0;
		top:0;
	}
	.img-acc-about-ct-04b img {
		width:100%
	}
	.img-acc-mekanisme img {
		width:45%;
	}
	.hadiah_container {
		width:100%;
	}
	.hadiah_img.last {
		margin-left:0;
	}
	.hadiah_img .hadiah_teks {
		top:270px;
	}
	.hadiah_img.last .hadiah_teks {
		top:310px;
	}
	#mekanisme .mekansime_wrapper {
		width: 100%;
	}
	.mekanisme_content {
		width:100%;
		padding-left:20px;
	}
	#about-02 {
		margin: 0;
	}
	#about-04 {
		margin-top: 0;
	}
	.ikutan a {
		font-size: 16px;
		padding: 10px 50px;
		margin:0 10px 0 10px;
	}
	.btn-large {
		font-size: 26px;
    padding: 10px 40px;
    border: 1px solid #8f5d30;
    margin: 0 10px 0 10px;
	}
	.arr-left-ikut, .arr-right-ikut {width:40px;}
	.arr-right-ikut:before, .arr-left-ikut:after {width:40px;height:36px;}

	.carousel, .carousel-inner, .carousel-inner .item {
	    height: 615px !important;
	}

	#creative .intro-text {
	    width: 100%;
	    top: 55%;
	    padding: 0px 30px;
	}

	#creative .intro-text h1 {
	    line-height: 45px;
	    font-size: 30px;
	}

	#creative #banner {
	    height: 475px !important;
	    max-height: auto !important;
	    background-size: auto 150%;
	}
	#coporate #nav li {
		margin: 0px;
	}
	.silver {
		margin-bottom: 100px;
	}
	#coporate #about .nav-tabs > li {
		margin: 0 5px;
	}
	ul.team_menu li {
		padding: 12px 20px;
		font-size: 12px;
	}
	.our_work_menu li {
		padding: 10px 17px;
	}
	#coporate .work_img {
		margin-top: 10px;
	}
	.addsubmission_rotate {
		left: -210px;
	}
	#addsubmission-thumbs img {
		max-width:99px
	}
	.banner .rotate {
		left: -125px;
	}
	#about .text {
		margin-top: 300px;
		margin-bottom: 30px;
	}
	#about .tabs {
		width: 100%;
	}
	#about .nav-tabs > li {
		width: 169px;
	}
	#client .client_rotate {
		left: -140px;
	}
	#owl-clients .owl-controls .owl-prev {
		left: -60px;
		top: 170px;
	}
	#owl-clients .owl-controls .owl-next {
		right: -60px;
		top: 170px;
	}
	#coporate .b-tittle {
		float: left;
		width: 76%;
	}
	#coporate #banner .text {
		width: 95%;
	}

	#portfolio-item .item {
		width: 50%;
		float: left;
	}
	#pemenang-item .item {
		width: 50%;
		float: left;
	}
	#creative #header .logo {
		float: left;
	}
	#creative #header .menu {
		display: inline-block;
		width: 100%;
	}
	#creative .banner .rotate {
		border: none;
		background: none;
	}
	#creative .banner .rot-border {
		border: none;
		width: 100%;
		left: 0px;
	}
	#creative .team_img:hover .hover_div{
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	#creative .hover_heading{
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		width:100%;
	}
	#creative .rotate {
		transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		width: 100%;
		left: 0px;
	}

	#creative .creative {
		min-height: 280px;
	}

	#creative #about {
	    padding-top: 120px;
	}

	.stay_touch h3 {
	    font-size: 28px;
	}

	.stay_about_us p {
	    font-size: 15px;
	}

	.social_area h4 {
	    padding-top: 25px;
	}

	.single_social.margin_zero a {
	    margin-left: 9px;
	}

	.filter li a {
	    padding: 10px;
	    font-size: 11px;
	}

	.client_area {
	    background-size: auto 100%;
	}

	.p_content h5 {
		font-size:16px;
	}

	.blog_content p {
	    font-size: 13px;
	}

	#creative #about .nav-tabs > li {
		width: 23%;
		height:auto;
		padding:20px 0px;
		margin-left: 5px;
		margin-right: 0px;
	}
	#creative #about .rot-border {
		width: 100%;
		border: none;
	}
	#creative .client_logo {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		width: 100%;
		margin: 1px 0px;
	}

	#creative #owl-clients .item {
	padding:1px;
	}

	#creative .client_logo_area .owl-carousel .owl-item {
		margin: 70px 0px;
		margin-bottom:0px;
	}
	#creative .client_logo_area  .owl-item{
		height:auto;
	}
	#creative #about .icon {
		margin-top: 0px;
	}
	#creative .client_logo_img {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	#creative .portfolio .port-item {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	#creative .client_rotate{
		background:none;
	}
	#creative .portfolio .port-item img {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		margin: 0px;
		width: 100%;
	}
	#creative .portfolio li {
		margin: 0px !important;
	}
	#creative .port-item .des {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		margin-left: 0px;
		margin-right: 0px;
		top: 20%;
	}
	#creative .port-item .des a.link {
		right: 40%;
	}
	#creative .port-item .des a.zoom {
		left: 40%;
	}

	#submission .submission-form .submissionForm {
		width: 100%;
	}
	#submission .add-submit {
		width: 100%;
		top:50px;
		position: relative;
		display: inline-block;
		width: 100%;
		padding-bottom: 50px;
	}

	#submission .addsubmission_rotate {
		left: 0px;
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		width: 100%;
		outline: none;
		border: none;
		position: relative;
		top: 50px;
		display: inline-block;
		display:none;
	}
	#creative .portfolio .item {
		float: left;
		width: 50%;
	}
	#creative .portfolio .port-item {
		width: 100%;
		margin: 0px;
		height: auto;
	}
	#creative #about .rotate .inner {
		width: 175%;
	}
	#creative .rotate .inner {
		width: 100%;
		height: 100%;
		position: relative;
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	#creative #about .rotate {
		background: none;
	}
	#creative #about .text {
		margin-top: 0px;
	}
	#creative  #owl-clients .owl-controls .owl-next{
		background:none;
	}
	#creative  #owl-clients .owl-controls .owl-prev{
		background:none;
	}
	#creative .social_area{
		width: 100%;
		float:left;
	}
	#creative  #banner .huge{
		display:none;
	}
	.copy_right p {
		text-align: center;
	}
	.social_area {
		text-align: center;
	}
	.user-credits {
		text-align: center;
	}
	.user-photo {float: none;}
}

/*==========================================================
		RESPONSIVE SCREEN 667px
===========================================================*/
@media (max-width: 667px) {
	#wrap {
		position: relative;
	}
	.kategori_teks {
		top: 185px;
		padding: 0 5px;
	}
	.img-header-activity-2017 img {
		width: 40%;
	}
	#portfolio-item .item {
		width: 49%;
	}
	#pemenang-item .item {
		width: 49%;
	}
	#coporate #owl-clients .owl-controls .owl-next {
		right: -35px;
	}
	#coporate #owl-clients .owl-controls .owl-prev {
		left: -35px;
	}
	#coporate #portfolio-item .team-name {
		padding: 0 5px;
		float: left;
		width: 100%;
		margin-top: -70px;
		height: 70px;
	}
	#coporate #portfolio-item .item {
		width: 100%;
		margin-top: -1px;
		float: left;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 600px
===========================================================*/
@media (max-width: 600px) {
	#wrap {
		position: relative;
	}
	#creative #banner {
	    height: 475px !important;
	    max-height: auto !important;
	    background-size: auto 150%;
	}
	.filter {
	    margin: 0 0 25px !important;
	}
	#portfolio-item .item {
		width: 49%;
	}
	#pemenang-item .item {
		width: 49%;
	}

	h2 {
		letter-spacing: 0px;
	}
	#about .nav-tabs > li a img {
		margin-top: 0px;
	}
	#coporate #about .nav-tabs > li {
		border: none !important;
		height: auto !important;
	}
	#coporate #about .nav-tabs > li a span {
		font-size: 12px;
	}
	#coporate #about .nav-tabs > li img {
		width: 50%;
	}
	#coporate #about .nav-tabs > li:nth-child(1) img {
		width: 41%;
	}
	#coporate #about .nav-tabs > li:nth-child(4) img {
		width: 30%;
	}
	#coporate #about .nav-tabs > li:hover {
		border: none !important;
	}
	#coporate #about .nav-tabs > li.avtive {
		border: none !important;
	}
	ul.team_menu li {
		margin: 3px 0 !important;
		font-weight: 300;
		font-size: 12px;
	}

	#creative #about .nav-tabs > li a span {
		font-size: 12px;
	}
	#creative #about .nav-tabs > li img {
		width: 50%;
	}
	#creative #about .nav-tabs > li:nth-child(1) img {
		width: 41%;
	}
	#creative #about .nav-tabs > li:nth-child(4) img {
		width: 30%;
	}
	#creative #about .nav-tabs > li:hover {
		border: none !important;
	}
	#creative #about .nav-tabs > li.avtive {
		border: none !important;
	}

	#coporate #portfolio-item .team-name {
		height: 55px;
		line-height: 55px;
	}
	.our_work_menu li {
		margin: 5px 0;
	}
	#coporate #portfolio-item .team-name p {
		line-height: 55px;
	}
	#owl-clients .owl-controls .owl-prev {
		height: 30px;
		width: 30px;
		line-height: 30px;
		top: 35%;
	}
	#owl-clients .owl-controls .owl-next {
		height: 30px;
		width: 30px;
		line-height: 30px;
		top: 35%;
	}
	#coporate #portfolio-item .team-name {
		padding: 0 5px;
		float: left;
		width: 100%;
		margin-top: -55px;
	}
	#coporate #portfolio-item .social_icons {
		margin-top: 0px;
	}
	#coporate #portfolio-item .item {
		width: 100%;
		margin-top: -1px;
		float: left;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 540px
===========================================================*/
@media(max-width:540px) {
	#wrap {
		position: relative;
	}
	#creative #banner {
	    height: 475px !important;
	    max-height: auto !important;
	    background-size: auto 150%;
	}
	.kategori_teks {
		top: 290px;
	}
	.blog_content {
		text-align: center;
	}
	.blog_content .text-left {
		text-align: center;
	}

	#owl-clients .owl-item {
		text-align: center;
	}
	#owl-clients .owl-item img {
		width: 100%;
	}
	#owl-clients .owl-controls .owl-prev {
		height: 30px;
		width: 30px;
		line-height: 30px;
		top: 35% !important;
	}
	#owl-clients .owl-controls .owl-next {
		height: 30px;
		width: 30px;
		line-height: 30px;
		top: 35% !important;
	}
	#coporate #portfolio-item .team-name {
		padding: 0 5px;
		float: left;
		width: 100%;
		margin-top: -55px;
	}
	#coporate #portfolio-item .social_icons {
		margin-top: 0px;
	}
	#coporate #portfolio-item .item {
		width: 100%;
		margin-top: -1px;
		float: left;
	}
	#coporate .team_img {
	}
	#owl-clients .owl-item img{
		width:auto;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 479px
===========================================================*/

@media(max-width:479px) {
	#wrap {
		position: relative;
	}
	#creative #banner {
	    height: 560px !important;
	    max-height: auto !important;
	    background-size: auto 150%;
	}
	#creative #about .nav-tabs > li a span {
	    font-size: 9px;
	}

	#owl-clients .owl-controls .owl-prev {
	    top: 50% !important;
	    left: -40px;
	}

	#owl-clients .owl-controls .owl-next {
	    top: 50% !important;
	    right: -40px;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 414px
===========================================================*/
@media(max-width:414px) {
	#wrap {
		position: relative;
	}
	#page-header p {
		font-size:14px;
	}
	#about-01 h1 {font-size:40px}
	#about-01 h2 {font-size:20px}
	#about-02 h1 {font-size:60px;line-height: 56px}
	#about-02 h2 {font-size:38px}
	#about-02 p {font-size: 14px;margin-top: 10px;margin-right:0;}
	#about-03 h1,
	#about-03 .ct-2017-title-wrapper-02 h1 {font-size:50px;padding-left:0;line-height:45px}
	#about-03 h2,
	#about-03 .ct-2017-title-wrapper-02 h2 {font-size:30px}
	#about-03 .ct-2017-title-wrapper-02 p {font-size: 14px;line-height: 16px;margin-top: 10px;padding-left:0;}
	#about-03 p {font-size: 14px;;line-height: normal;padding-left:0;margin-top: 10px;}
	.img-acc-about-ct-01a {
		right: -150px;
	  top: -70px;
	}
	.img-acc-about-ct-02 img {width:70%}

	.img-acc-about-ct-03 {
		left: -60px;
	  top: -314px;
	}
	.img-acc-about-ct-03 img {width:80%}
	.img-acc-about-ct-04a {
		left: 0;
	  top: -210px;
	}
	.logo-coffeetone-homepage {
    width: 158px;
		margin-top:-40px;
	}
	.kategori_teks {
		top: 420px;
	}
	.img-acc-about-ct {
    left: -97px;
    top: 0px;
	}
	.img-acc-about-ct img {
		width:55%;
	}
	.img-acc-about {
		top:1010px;
	}
	.img-acc-about img {

	}
	#coporate .b-tittle {
		width: 100%;
	}
	#coporate .blog_date {
		display: inline-block;
		float: none;
		margin: 0 auto;
		margin-top: -95px;
		padding:10px;
		background-color:#c5ae88;
	}
	#addsubmission-thumbs img {
		max-width:99px
	}
	.share-artikel {
		text-align: center;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 400px
===========================================================*/
@media(max-width:400px) {
	#page-header p {
		font-size:14px;
	}
	.img-acc-about-ct {
		left: -73px;
	  top: 10px;
	}
	.img-acc-about-ct img {
		width:55%;
	}
	.img-acc-about-ct-01a {
		right: -150px;
	  top: -70px;
	}
	.img-acc-about-ct-03 {
		left: -60px;
	  top: -314px;
	}
	.img-acc-about-ct-03 img {width:80%}
	.img-acc-about-ct-04a {
		left: 0;
	  top: -210px;
	}
	.img-acc-about-ct-04a img{
		width:55%;
	}
	.img-header-activity-2017 img {
		width: 50%;
	}
	.logo-coffeetone-homepage {
    width: 158px;
		margin-top:-40px;
	}
	.kategori_teks {
		top: 380px;
	}
	#coporate .b-tittle {
		width: 100%;
	}
	#coporate .blog_date {
		float: none;
		display: inline-block;
		margin-top: -93px;
	}
	#coporate .b-tittle {
		width: 100% !important;
	}
	.work_subtitle {
		width: 98%;
	}
	#coporate .owl-item .item {
		text-align: center;
	}
	.banner .rotate {
		left: -325px;
	}
	#coporate #banner .text {
		top: 5% !important;
	}
	#coporate #banner .text h2 {
		font-size: 36px;
	}
	#coporate #banner .text {
		left: 0px;
	}
	#coporate #banner .text {
		width: 100% !important;
	}
	#coporate #banner .text p {
		font-size: 16px;
	}
	.filter {
		margin: 10px 0!important;
	}
	.our_work_menu li {
		padding: 8px 10px;
		font-size: 12px;
	}
	.submission_area {
		min-height: 1000px;
	}
	.add-submit {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
	}
	#coporate #banner .text {
		top: 5% !important;
	}
	#portfolio-item .item {
		width: 99%;
	}
	#menu .pro-name li span {
		width: 80%;
	}
	#real-estate .top-bar {
		display: none;
	}
	#real-estate .top-bar span {
		display: inline-block;
		width: 100%;
	}
	#real-estate #banner .text {
		left: 0px;
	}
	.owl-item .col-md-12 {
		padding: 0px;
	}
	#appart .owl-carousel {
		padding: 0px;
	}
	#real-estate .blog-date {
		width: 100%;
	}
	#owl-estate.row {
		padding: 0px;
	}
	#real-estate .blog-date {
		margin-bottom: 10px;
	}
	#real-estate .blog-tittle {
		margin-top: 0px;
	}
	#owl-gallery .owl-controls .owl-next {
		top: 30%;
	}
	#owl-gallery .owl-controls .owl-prev {
		top: 30%;
	}
	#creative .portfolio .item{
		width:100%;
	}
	.filter {
		margin: 10px 0!important;
	}
	.our_work_menu li {
		padding: 8px 10px;
		font-size: 12px;
	}
	.submission_area {
		min-height: 1000px;
	}
	.add-submit {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
	}
	#coporate #banner .text {
		top: 5% !important;
	}
	#portfolio-item .item {
		width: 99%;
	}
	#pemenang-item .item {
		width: 99%;
	}
	#real-estate .blog-tittle {
		margin-top: 0px;
	}
	#owl-gallery .owl-controls .owl-next {
		top: 30%;
	}
	#owl-gallery .owl-controls .owl-prev {
		top: 30%;
	}
	#creative .portfolio .item{
		width:100%;
	}
	.filter li a{
		padding:10px;
		font-size:12px;
	}
	.share-artikel {
		text-align: center;
	}
}

/*==========================================================
		RESPONSIVE SCREEN 320px
===========================================================*/
@media(max-width:320px) {
	.logo-coffeetone-homepage {
    width: 158px;
		margin-top:-40px;
	}
	#page-header h5 {
		font-size:14px;
		font-weight:600;
	}
	#page-header p {
		font-size:14px;
		line-height: 16px;
	}
	.kategori_teks {
		top: 290px;
	}
	.img-acc-about-ct {
		left: -73px;
	  top: 60px;
	}
	.img-acc-about-ct img {
		width:55%;
	}
	#about-01 h2 {font-size:20px}
	.img-acc-about-ct-01a {
		right: -150px;
	  top: -70px;
	}
	.img-acc-about-ct-02 img {width:100%}
	.img-acc-about-ct-03 {
		left: -60px;
	  top: -294px;
	}
	.img-acc-about-ct-03 img {width:90%}
	.img-acc-about-ct-04a {
		left: 0;
	  top: -240px;
	}

	#addsubmission-thumbs img {
		max-width:79px
	}
	.share-artikel {
		text-align: center;
	}
}
