
/*
* 	body
1	+ Header  /  #header
2	+ Banner  /  #banner
3	+ Content /  #content
4   + Footer  /  #footer
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #eae5da;
	height: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Lato', sans-serif;
}
label {
	display: block;
}
h1 {
	font-size: 45px;
	color: #776158;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	line-height: 68px;
}
h2 {
	font-size: 36px;
	color: #776158;
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 7px;
}
h3 {
	font-size: 50px;
	color: #776158;
	font-family: 'Lato', sans-serif;
}
h4 {
	font-size: 20px;
	color: #776158;
	font-weight: 500;
}
h5 {
	font-size: 18px;
	color: #776158;
	margin-bottom: 10px;
	font-weight: 500;
}
h6 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #776158;
	text-align: center;
	line-height: 26px;
}
p {
	font-family: 'Lato', sans-serif;
	color: #776158;
	font-size: 16px;
}
a {
	font-family: 'Lato', sans-serif;
	color: #8f5d30;
	font-size: 14px;
	text-decoration: none !important;
}
a:hover {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
img:hover {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

a ,
a:hover ,
a:active,
a:focus {
	outline:0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/*=======================================================
			LAYOUT WRAP
========================================================*/
#wrap {
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.container {
	position: relative;
}
.tittle {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.tittle h2 {
	margin: 0 !important;
	text-transform: uppercase;
}
.tittle p {
	margin-top: 25px;
	font-size: 16px;
	line-height: 24px;
	color: #776158;
}
/*=======================================================
			HEADER
========================================================*/
.cd-header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(234, 229, 218, 0.95);
  height: 116px;
  width: 100%;
  z-index: 5;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
/* @media only screen and (min-width: 768px) { */
  .cd-header {
    height: 80px;
    background: rgba(234, 229, 218, 0.95);
    box-shadow: none;
  }
/* } */
/* @media only screen and (min-width: 1170px) { */
  .cd-header {
		top: 0;
    background-color: rgba(234, 229, 218, 0.96);
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: rgba(191, 157, 115, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: rgba(191, 157, 115, 0.96);
  }
/* } */

.cd-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.cd-logo img {
  display: block;
	width:55%;
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    left: 2.6em;
  }
	.cd-logo img {
		width:100%;
	}
}

.cd-secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 4em;
  /* hidden on small devices */
  /* display: none; */
}
.cd-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
}
.cd-secondary-nav a {
  display: inline-block;
  color: #965d29;
	border: 1px solid #965d29;
	border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2px 30px;
  font-size: 18px;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block;
		position: absolute;
	  top: 50%;
	  bottom: auto;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	  right: 10em;
  }
}

.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  /* background-color: rgba(191, 157, 115, 0.96); */
	background-color:transparent;
}
.cd-primary-nav-trigger .cd-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.cd-primary-nav-trigger .cd-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: rgba(150, 93, 41, 1);
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(150, 93, 41, 1);
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -5px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 5px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: white;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block;
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(191, 157, 115, 0.96);
  z-index: 3;
  text-align: right;
  padding: 120px 40px 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cd-primary-nav li {
	list-style: none;
	text-transform: uppercase;
	font-size: 2rem;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
}
.cd-primary-nav a {
  display: inline-block;
	color:#776158;
  padding: .4em 1em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-primary-nav a.active {
	color:#FFF;
}
.no-touch .cd-primary-nav a:active,
.no-touch .cd-primary-nav a:hover {
	color:#FFF;
  /* background-color: #e36767; */
}
.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em;
}
.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../images/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-primary-nav .cd-facebook a {
  background-position: 0 0;
}
.cd-primary-nav .cd-instagram a {
  background-position: -44px 0;
}
.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0;
}
.cd-primary-nav .cd-twitter a {
  background-position: -132px 0;
}
.cd-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    padding: 80px 120px 80px 0;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
}


/* style menu items which have a submenu  */
.cd-primary-nav .sub-menu {
  padding: 0 35px 0 15px;
  display: none;
}
.cd-primary-nav .item-has-children > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  /* this is the right arrow to show that the item has a submenu  */
}
.cd-primary-nav .item-has-children > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -1em;
  background: url("../images/cd-arrow.svg") no-repeat center center;
  background-size: 8px 11px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.cd-primary-nav .item-has-children > a.submenu-open::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

/*=======================================================
			BACKGROUND POPUP
========================================================*/
.bg-popup-login-left {
	height: 160px;
	width: 96px;
	background: url('../images/bg/login-bg-left.png') no-repeat;
	background-size: contain;
	position: absolute;
	left: -54px;
  top: -20px;
}
.bg-popup-login-right {
	height: 128px;
	width: 109px;
	background: url('../images/bg/bg-login-right.png') no-repeat;
	background-size: contain;
	position: absolute;
	right: -60px;
  bottom: 100px;
}
.bg-popup-register-right {
	height: 128px;
	width: 109px;
	background: url('../images/bg/register-bg-right.png') no-repeat;
	background-size: contain;
	position: absolute;
	right: -57px;
  top: 40px;
}
.bg-popup-register-bottom {
	height: 50px;
	width: 38px;
	background: url('../images/bg/register-bg-bot.png') no-repeat;
	background-size: contain;
	position: absolute;
	right: 23px;
  bottom: -30px;
}
.bg-popup-register-left {
	height: 125px;
	width: 64px;
	background: url('../images/bg/register-bg-left.png') no-repeat;
	background-size: contain;
	position: absolute;
	left: -47px;
  top: 30px;
}
.bg-popup-register-top {
	height: 28px;
	width: 21px;
	background: url('../images/bg/register-bg-top.png') no-repeat;
	background-size: contain;
	position: absolute;
	right: 93px;
  top: -13px;
}

@media (max-width: 1390px) {
	.bg-popup-login-left {
		width: 459px;
		left:-43px;
		top:20px;
	}
}

/*=======================================================
			POLYGON STYLE
========================================================*/
.rotate {
	height: 995px;
	width: 995px;
	position: absolute;
	z-index: 2;
	margin: 0 auto;
	right: 0px;
	left: 0px;
	background: #e7dabe;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.rot-border {
	border: 70px solid rgba(0,0,0,0.3);
	position: relative;
	height: 1065px;
	width: 1065px;
}
.rotate .inner {
	width: 100%;
	height: 100%;
	position: relative;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

/*=======================================================
			SECTION
========================================================*/
#homepage-header {margin-top:120px}
#homepage-kategori {margin-top:120px}

/*=======================================================
			PAGE HEADER
========================================================*/

#page-header {padding-top:120px}
#page-header h3 {color:#FFF}
#page-header p {color:#FFF}
#about-01 {margin:120px 0 0 0;}
#about-02 {margin:80px 0}
#about-02 h2 {margin-bottom:0;font-size:72px;font-weight:600}
#about-02 h1 {margin:0;font-size:110px;font-weight:700;line-height:110px;}
#about-02 p {margin-top: 40px;font-size:22px;margin-right:130px;}
#about-03 h2 {margin-bottom:0;font-size:62px;font-weight:600}
#about-03 h1 {margin:0;font-size:100px;font-weight:700;}
#about-03 p {margin-top: 40px;font-size:22px;padding-left:170px;}
#about-03 {margin:200px 0 0 0}
#about-03 .ct-2017-title-wrapper-02 h2 {font-size:62px;font-weight:600}
#about-03 .ct-2017-title-wrapper-02 h1 {font-size:100px;font-weight:700;}
#about-03 .ct-2017-title-wrapper-02 p {padding-left:0}


#about-04 {margin:120px 0 160px 0;}

#about h2 span {
	font-size:50px;
	font-weight: 700;
}
#about-01 .tittle {
	margin-top:180px;
}
#about-01 h1 {
	font-size:60px;
	font-weight:700;
}
.img-header {
	position: absolute;
	top:-79px;
}
.img-header-homepage {
	position: absolute;
	right:0;
}
img-header-homepage img {
	width:100%;
}
.homepage-text {
	margin-top:280px
}
.img-header-activity-2016 {
	position: absolute;
	right:-100px;
	top:-120px;
}
.img-header-activity-2017 {
	position: absolute;
	left:-100px;
	top:-120px;
}
.img-header-gallery-sport {
	position: absolute;
	right:-60px;
	top:-70px;
}
.img-header-gallery-profesional {
	position: absolute;
	left:30px;
	top:-70px;
}
.img-header-gallery-casual {
	position: absolute;
	right:-60px;
	top:-70px;
}
.img-header-artikel {
	position: absolute;
	right:0;
	top:-70px;
}
.img-acc-about {
	position: absolute;
	left: 0;
  top: 1100px;
}
.img-acc-about img {
	width:80%;
}
.img-acc-hadiah {
	position: absolute;
	top: 0;
}
.img-acc-karegori {
	position: absolute;
	right: -90px;
  top: -20px;
}
.img-acc-mekanisme {
	position: absolute;
	right: -40px;
  top: -140px;
}
.img-acc-about-ct {
	position: absolute;
	left: -150px;
	top: 0;
}
.img-acc-about-ct-01 {
	width:100%;
}
.img-acc-about-ct-01a {
	position: absolute;
	right: -150px;
  top: 60px;
}
.img-acc-about-ct-02 {
	position: absolute;
	right: 0;
  top: -200px;
}
.img-acc-about-ct-04a {
	position: absolute;
	left: 110px;
  top: 290px;
}
.img-acc-about-ct-04b {
	position: absolute;
	right: 0;
  top: -215px;
	z-index:-1;
}
.ct-2017-title-wrapper {
	margin-left: 20px;
}
.ct-2017-title-wrapper-02 {
	margin-top: 190px;
	margin-left: 270px;
}
/*=======================================================
			BANNER
========================================================*/
.tagline-logo {
	padding-left:50px;
}
#banner {
	height: 456px;
	background-size: contain;
	position: relative;
	margin-top: 136px;
	margin-left: 114px;

}
.intro-text {
	text-align: center;
	position: absolute;
	width: 70%;
	margin: 0 auto;
	right: 0px;
	left: 0px;
	top: 500px;
}
.intro-text h1 {
	color: #776158;
}
.intro-text p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 100;
	margin-top: 50px;
}
#banner .huge {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: -80px;
	z-index: 1;
}
#banner .huge {
	font-size: 14em;
	color: rgba(119,97,88,1);
}
.banner .rotate {
	top: -485px;
}
.btn {
	color: #8f5d30;
	border: 2px solid #8f5d30;
	display: inline-block;
	border-radius: 4px;
	padding: 12px 50px;
	font-size: 18px;
	/* margin-top: 40px; */
}
.btn:hover {
	color: #776158;
	border: 2px solid #776158;
	background: #ccb292;
}
#banner h2 {
	letter-spacing: 0px;
}
#banner .text {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 18%;
}
#banner .text .btn {
	border: 1px solid #8f5d30;
	padding: 10px 30px;
}
#banner .text .btn:hover {
	background: #ccb292;
	color: #776158;
}
#banner .text h2 {
	color: #776158;
	font-size: 45px;
	font-weight: 300;
	text-transform: none;
}
#banner .text p {
	font-size: 18px;
	color: #776158
	line-height: 20px;
}
#banner .item:nth-child(1) {
}
#banner .item:nth-child(2) {
}
#banner .item:nth-child(3) {
}

/*=======================================================
			ABOUT
========================================================*/
#about {
	padding-top: 120px;
	padding-bottom:80px;
	position: relative;
}
#about .tittle {
	padding-top: 50px;
}
.creative {
	background-color: #e8cbca;
	position: relative;
	min-height: 370px;
	overflow: hidden;
	margin-top: 20px;
}
.creative h3 {
	text-transform: none;
	font-weight: 200;
	color: #fff;
font-size: 45px;
line-height: 68px;
}
#about .rotate {
	height: 412px;
	width: 412px;
	background: #ccb292;
	top: -240px;
}
#about .rot-border {
	border: 42px solid rgba(94,113,108,0.5);
	position: relative;
	height: 454px;
	width: 454px;
}
#about .rotate .inner {
	width: 175%;
}
#about .text {
	margin-left: 50px;
	margin-top: 100px;
	text-align: left;
}
#about .text h6 {
	text-align: left;
	color: #fff;
	line-height: 28px;
}

.creativity_area {
	overflow: hidden;
	padding-bottom: 10px;
}
.margin_top_left {
	margin-left: 130px;
	margin-top: 45px;
}
.creativity {
	padding-top: 35px;
}
.creativity ul {
	float: left;
	margin-bottom: 65px;
	clear: both;
}
.creativity h2 {
	color: #ffffff;
	padding-bottom: 15px;
}
.creativity p {
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}
.creativity a {
	background: none repeat scroll 0 0 #394b4d;
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	height: 40px;
	line-height: 42px;
	margin-top: 15px;
	text-align: center;
	width: 40px;
}
.creativity ul.slides li div img {
	margin-left: 38px;
	margin-top: 5px;
}
.btn-large {
	color: #8f5d30;
  font-weight: 600;
  font-size: 36px;
  padding: 10px 100px;
  border: 1px solid #8f5d30;
  margin: 0 30px 0 30px;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.btn-large:hover {
	background-color: #8f5d30;
	border: 0;
	color: #eae5da;
}

/*=======================================================
			TEAM
========================================================*/
#team {
	background-image: url(../images/our_team_bg.png);
	background-color: #efece7;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	min-height: 945px;
}
#team .rotate {
	top: -550px;
	background: #fff;
}
#team .rot-border {
	border: rgba(255,255,255,0.4)
}
.team_area {
	background: transparent;
	padding: 50px 0 60px;
	overflow: hidden;
	position: relative;
	min-height: 600px;
	margin-top: 0;
}
.team_title {
	margin-top: 0px;
}
/** portfolio list **/
#work_item, #portfolio-item {
	display: block;
	width: 100%;
	margin-bottom: 35px;
}
#portfolio-item .item {
	display: none;
	color: #fff;
	-moz-box-sizing: border-box;
}

#work_item .item {
	display: none;
	-moz-box-sizing: border-box;
}

#work_item .work_img {
	color: #fff;
	-moz-box-sizing: border-box;
}

#filter-list {
	margin-top: 40px;
}
ul.team_menu {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px;
}
ul.team_menu li {
	border: transparent;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 15px 35px;
	color: #000;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	background: transparent;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
ul.team_menu li:hover, ul.team_menu li.active {
	background: #3193c5;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
	cursor: pointer;
	color:#fff;
}
.team_img {
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	float: left;
	overflow: hidden;
}
.team_img img {
	height: 100%;
	width: 100%;
}





.owl-item {
	height: 378px;
}
.left_arrow {
	background: none repeat scroll 0 0 #4c4c4a;
	height: 40px;
	left: 40px;
	position: absolute;
	text-align: center;
	top: 49%;
	width: 40px;
	display: table;
	vertical-align: middle;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.left_arrow i {
	color: #ff7d65;
	font-size: 25px;
	line-height: 39px;
	display: table-cell;
	vertical-align: middle;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.right_arrow {
	background: none repeat scroll 0 0 #4c4c4a;
	height: 40px;
	right: 40px;
	position: absolute;
	text-align: center;
	top: 49%;
	width: 40px;
	display: table;
	vertical-align: middle;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.right_arrow i {
	color: #ff7d65;
	font-size: 25px;
	line-height: 39px;
	display: table-cell;
	vertical-align: middle;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
/* Our services */
#services {
	background: url(../images/our_service_bg.png) bottom center no-repeat;
}
.our_services {
	background: transparent;
	overflow: hidden;
	padding: 70px 0 0;
	position: relative;
}
.our_services_row {
	margin-top: 80px;
}
.services_bg {
	background: url(../images/our_service_bg.png) fixed center center;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: repeat;
}
.service_icon {
	background: none repeat scroll 0 0 #f5f2ed;
	display: table;
	height: 110px;
	margin: 0 auto;
	vertical-align: middle;
	width: 110px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	text-align: center;
}
.service_icon_bg {
	display: table-cell;
	vertical-align: middle;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.service_content {
	display: block;
	margin: 20px auto;
	text-align: center;
	width: 85%;
	padding: 15px 0 40px;
}
.service_content h4 {
}
.service_content p {
	color: #4d4d4d;
	font-size: 14px;
	line-height: 24px;
	margin-top: 10px;
}
#owl-clients .owl-controls div {
}
#owl-clients .owl-controls .owl-prev {
	position: absolute;
	height: 41px;
	left: -190px;
	position: absolute;
	text-align: center;
	top: 37%;
	width: 41px;
	color: #fff;
	display: table;
	border-radius: 0px!important;
	line-height: 41px;
	font-size: 20px;
	padding: 0px;
	background: #4c4c4c;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	opacity: 1;
}
#owl-clients .owl-controls .owl-prev i {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
#owl-clients .owl-controls .owl-next {
	position: absolute;
	height: 41px;
	right: -190px;
	position: absolute;
	text-align: center;
	top: 37%;
	width: 41px;
	color: #fff;
	display: table;
	border-radius: 0px!important;
	line-height: 41px;
	font-size: 20px;
	padding: 0px;
	background: #4c4c4c;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	opacity: 1;
}
#owl-clients .owl-controls .owl-next i {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
/** portfolio list **/
.our_work_area {
	background: #efece7 url(../images/our_work_bg.png) center -10px no-repeat;
	overflow: hidden;
	padding: 70px 0 0;
	position: relative;
	min-height: 600px;
}
.our_work_area .item {
	display: inline-block;
}
.work_subtitle {
	color: #000000;
	font-size: 18px;
	line-height: 25px;
	margin: 0 auto;
	width: 75%;
}
.our_work_menu {
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	z-index: 2;
	position: relative;
}
.our_work_menu li {
	display: inline;
	cursor: pointer;
}
.our_work_menu li {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	text-align: center;
	padding: 13px 25px;
	color: #000;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	background: #c5ae88;
	border: 0;
	border-radius: 0;
}
.our_work_menu li:hover, .our_work_menu li.active {
	background: #FE5B4A;
	color: #fff;
}
.our_work_menu li:hover a, .our_work_menu li.active a{
	color: #fff;
}
.our_work_history {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	display: inline-block;
}
.work_img {
	overflow: hidden;
	position: relative;
	margin-left: 4px;
	margin-top: 75px;
	display: inline-block;
}
.work_img img {
}
.our_work_history2 .work_img {
	display: table;
	float: left;
	height: 281px;
	vertical-align: middle;
	width: 281px;
	margin-left: 4px;
	margin-top: 0;
	position: relative;
	top: -105px;
}
.our_work_history2 .work_img img {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

#coporate .work_img a {
	opacity: 0;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.gallery_details {
	background: rgba(254, 91, 74, 0.8);
	height: 160px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 20px;
	width: 160px;
	display: table;
	text-align: center;
	vertical-align: middle;
}

#coporate .work_img:hover a {
	opacity: 1;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.gallery_meta {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.gallery_meta h2 {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	letter-spacing: 0px;
}
.gallery_meta a i {
	font-size: 20px;
	color: #fff;
	padding-top: 15px;
}
.gallery_meta a i.fa.fa-link {
	position: relative;
	top: 7px;
	-webkit-transform: rotate(80deg);
	-moz-transform: rotate(80deg);
	-ms-transform: rotate(80deg);
	-o-transform: rotate(80deg);
	transform: rotate(80deg);
}
.gallery_meta p {
	font-size:14px;
	line-height: 15px;
}
.gallery_meta h6, .gallery_meta h5 {
	margin: 0;
}
.gallery_meta .simplelineicons-demo .item-box .item {
	width:60px;
	height: 60px;
}
.gallery_meta .simplelineicons-demo .item-box .item span {
	font-size:40px;
}

/* Pemenang */
#pemenang {
	padding:80px 0;
}
#pemenang  # .item{
	padding:0px;
	position:relative;
	overflow:hidden;
}
#pemenang  #pemenang-item .item{
	/* padding:0px; */
	position:relative;
	overflow:hidden;
	margin-bottom: 35px;
}
#pemenang  #pemenang-item .pemenang-name{
	background:rgba(49,147,197,0.8);
	margin-top:-70px;
	height:70px;
	width:100%;
	float: left;
	display:inline-block;
	position:absolute;
	padding:0 20px;
	position:relative;
	overflow:hidden;
}
#pemenang #pemenang-item .pemenang-name p{
	line-height:70px;
	display:inline-block;
	margin:0px;
	text-transform:uppercase;
	float:left;
}

.pemenang_img {
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	float: left;
	overflow: hidden;
}
.pemenang_img img {
	height: 100%;
	width: 100%;
}
.pemenang_hover {
	background: none repeat scroll 0 0 rgba(251, 178, 56, .9);
	border: 1px solid transparent;
	border-radius: 3px;
	bottom: -160px;
	height: 180px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
	width: 180px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.pemenang_heading {
	float: right;
	margin-top: 60px;
	padding-left: 0;
	transform: rotate(-135deg);
	width: 80%;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.pemenang_heading h2 {
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}
.pemenang_heading h3 {
	font-size: 11px;
	font-weight: 700;
	color: #aa7724;
	text-transform: uppercase;
	padding-top: 8px;
	text-align: center;
}
.pemenang_img:hover .pemenang_hover {
	bottom: 60px;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
#pemenang .pemenang_img{
	margin:0px;
	width:100%;
	position:relative;
	overflow:hidden;
	float: left;
}

/* #pemenang-item .item {
    display: none;
    color: #fff;
    -moz-box-sizing: border-box;
} */

/* Pemenang 2017 */
#pemenang-2017 {padding:80px 0}
.pemenang-2017-container > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
/* Activity */
#activity-gallery {padding:80px 0}
.activity-wrapper > [class*='col-'] {
    padding-right:3px;
    padding-left:3px;
}
.img_activity {
	margin: 3px 0;
}
.img_activity img {width:100%}

/* Syarat dan Ketentuan */
#termcondition {padding:160px 0 80px 0;}
#termcondition h2 {margin-bottom:95px;}
#termcondition p {
	margin-bottom:30px;
	font-size: 16px;
	text-align: justify;
}
#termcondition ul {
	margin-top:-25px;
	margin-bottom: 30px;
}
#termcondition ul > li{
	list-style: none;
	font-size: 16px;
	color: #776158;
	padding-left:20px;
}
.mekanisme-list {
	margin-left:40px;
	margin-top: -30px;
	color:#776158;
}
/* Blog area */
.blog_area {
	padding: 70px 0;
	overflow: hidden;
}
.blog_wrapper {
	padding: 0 3px ;
}
.blog_heading {
	/* height: 200px; */
	width: 100%;
	position: relative;
	margin-top: 20px;
}
.blog_heading img {
	height: 100%;
	width: 100%;
}
.blog_content {
	padding: 0 10px;
}
.blog_date {
	margin: 0 auto;
	overflow: hidden;
	border-radius: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -40px;
	display: table;
	vertical-align: middle;
}
.blog_time {
	text-align: center;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	display: table-cell;
	vertical-align: middle;
}
.date {
	font-size: 18px;
	font-weight: 200;
	color: #fff;
	margin-bottom: 0px;
}
.month {
	font-size: 16px;
	font-weight: 200;
	color: #fff;
	text-transform: uppercase;
}
.blog_content h4 a.content_title {
	color: #646464;
	font-size: 28px;
	/* margin-top: 60px; */
	font-family: 'Lato', sans-serif;
	padding: 0;
	background: transparent;
	font-weight: normal;
	text-transform: none;
}
.blog_content p {
	line-height: 22px;
	margin-top: 15px;
	color: #646464;
}
.blog_content a {
	background: none repeat scroll 0 0;
	border: 2px solid #8f5d30;
	border-radius: 0;
	color: #776158;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.blog_content a:hover {
	background: #8f5d30;
	color:#fff;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}

.share-artikel {
	position:relative;
}
.share-artikel h6 {
	display: inline-block;
	margin-right: 20px;
}
/*!---------- ARTIKEL DETAIL ----------*/
.post-title .label {
  margin-right: 16px;
}
.post-title h4 {
  position: relative;
  top: 2px;
  margin-bottom: 16px;
}
.post-meta,
.post-meta .tags {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 12px;
}
.post-meta > li {
  float: left;
  margin-right: 24px;
}
.post-meta i {
  font-size: 16px;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.post-snippet iframe {
  width: 100%;
  margin-bottom: 12px;
}
.post-snippet .embed-video-container {
  margin-bottom: 24px;
}
.post-snippet .embed-video-container iframe {
  margin: 0;
}

/* pricing area */

#price h2 {
	color: #fff;
}
.pricing_area {
	background: url(../images/price-bg.jpg);
	background-size: cover;
	overflow: hidden;
	padding: 70px 0 140px;
	position: relative;
}
.pricing_rotate {
	background: url("img/pricing_bg.png") fixed center center;
	background-attachment: fixed;
	background-size: cover;
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: repeat;
}
.silver {
	background: #fff;
	border-radius: 5px;
	position: relative;
}
.p-head {
	background: #fe5b4a;
	padding: 15px 0;
	text-align: center;
	border-radius: 4px 4px 0px 0px;
}
.p-head h3 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	margin: 0px;
	line-height: 20px;
}
.price {
	background: #ff7d65;
	padding: 35px 0;
	text-align: center;
}
.pre .p-head {
	background: #007d61;
}
.pre .price {
	background: #00a885;
}
.gold .p-head {
	background: #ef761c;
}
.gold .price {
	background: #fba026;
}
.price h3 {
	color: #fff;
	margin: 0px;
	font-size: 45px;
	line-height: 68px;
}
.price p {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.p_content {
	padding: 10px 25px;
	background: #fff;
}
.p_content h3 {
	padding: 25px 0 0;
	color: #4F4F4F;
}
.p_list {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 90px;
}
.p_list li {
	border-bottom: 1px solid #efefef;
	list-style: none;
	display: inline-block;
	width: 100%;
	line-height: 40px;
}
.p_list li i {
	color: #b3b2b2;
	font-size: 14px;
	margin-right: 10px;
	display: inline-block;
}
.p_list li p {
	color: #646464;
	margin: 0px;
	line-height: 40px;
	font-size: 14px;
}
.p_list li:last-child {
	border-bottom: 0px none;
}
.price_btn {
	position: absolute;
	background: #FE5B4A;
	height: 100px;
	width: 100px;
	border-radius: 4px;
	text-align: center;
	display: table;
	vertical-align: middle;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -50px;
}
.price_btn a {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	display: table-cell;
	vertical-align: middle;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.pre .price_btn {
	background: #007d61;
}
.gold .price_btn {
	background: #fba026;
}
/* Submission */

.add-submit h2 {
	color: #776158;
}
.addsubmission_area {
	padding: 0px 0 0;
}
.addsubmission_rotate {
	height: 1100px;
	width: 1100px;
	background: #FAA026;
	border: none;
	outline: 40px solid rgba(255,255,255,0.5);
	position: absolute;
	/* top: -1380px; */
	left: 0;
	right: 0;
	margin: 0 auto;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	display: table;
	vertical-align: middle;
}
.add-submit {
	/* display: table-cell; */
	vertical-align: middle;
	/* position: absolute;
	top: -700px; */
	left: 0;
	right: 0;
	margin: 0 auto;
	/* width: 75%; */
	right: -12px;
}
.add-submit form {
	margin: 0 auto;
	width: 100%;
}
.add-submit form input {
	height: 45px;
	background: #fff;
	color: #8d8d8d;
	border: 1px solid #d6d6d6;
	border-radius: 0;
	padding-left: 15px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.add-submit form textarea {
	border: 1px solid #d6d6d6;
	border-radius: 0;
	height: 155px;
	padding-left: 15px;
	padding-top: 15px;
	resize: none;
	width: 100%;
	float: left;
}
.submit {
	width: 160px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
}
.submit:after {
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-top: 80px solid #404040;
	content: "";
	position: absolute;
	margin: 0px 0px 0px -116px;
}
.submit input {
	background: transparent;
	border: 1px solid transparent;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	z-index: 9;
	position: relative;
	top: 13px;
	left: -6px;
}
.add-submission {}
.add-submission label h5 {font-size: 16px;color:#845428}
.add-submission input[type="radio"] , input[type="checkbox"]{
    display: none;
}
.add-submission input[type="radio"]:not(:disabled) ~ label ,input[type="checkbox"]:not(:disabled) ~ label {
    cursor: pointer;
}
.add-submission input[type="radio"]:disabled ~ label, input[type="checkbox"]:disabled ~ label  {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
}
.add-submission .form-group{
  overflow:hidden!important;
}
.add-submission label {
    width: 150px;
		padding: 5px 0;
    display: inline-block;
    background: transparent;
    border: 1px solid #845428;
		margin-bottom: 14px;
    font-family: 'Lato', sans-serif;
		text-transform: uppercase;
		color: #845428;
    font-weight: normal;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
}
.add-submission input[type="radio"]:checked + label, input[type="checkbox"]:checked + label  {
    background: #845428;
    color: #FFF;
}
.add-submission input[type="radio"] + label h5, input[type="checkbox"] + label h5{
    color: #845428;
}
.add-submission input[type="radio"]:checked + label h5, input[type="checkbox"]:checked + label h5 {
    color: #FFF;
}
/* Footer Area */
.stay_touch_area {
	overflow: hidden;
	padding: 70px 0 40px;
	position: relative;
	background: transparent;
}
.footer-bg {
	background-color:#333333;
	background-attachment: fixed;
	background-size: cover
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-repeat: repeat;
}
.project_image {
	height: 135px;
	overflow:hidden;
	width: 100%;
	border: 5px solid #fc9f26;
}
.project_image img {
	width:100%;
}

.social_area {
	text-align: right;
}
.single_social {
	display: inline-block;
	width: 44px;
	text-align: center;
}
.single_social a:hover {
	color: #FFF;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.single_social a i {
	color: #eae5da;
	font-size: 22px;
	vertical-align: middle;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}

.single_social a:hover i.fa-facebook {
	color: #3C5A98;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.single_social a:hover i.fa-twitter {
	color: #29C5F6;
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}
.copy_right {
	width:100%;
	background-color:#444444;
	padding-bottom: 30px;
	padding-top: 30px;
}
.copy_right p {
	color:#eae5da;
	text-align: left;
}

#ascrail2000-hr > div {
/* display: none; */
}
/*=======================================================
			KATEGORI
========================================================*/
.kategori_img {
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	float: left;
}
.kategori_img img {
	height: 100%;
	width: 100%;
}
.kategori_teks {
	margin: 0 auto;
	right: 0;
	text-align: left;
	padding:0 10px 15px;
}

.kategori_heading h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #776158;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1px;
}
.kategori_heading h3 {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #776158;
	text-transform:none;
	padding-top: 0;
	margin-top:0;
	text-align: left;
}
/*=======================================================
			HADIAH
========================================================*/
#hadiah {
	/* margin: 80px 0 0 0; */
}
.hadiah_container {
	width:60%;
	margin: 0 auto;
}
.hadiah_img.last {
	margin-left:29px;
	margin-top: 50px;
}
.hadiah_teks {
	width:70%;
	left: 0;
	margin-left:30px;
	right: 0;
	text-align: left;
}
.hadiah_heading {
	padding-left: 10px;
	margin-top: -40px;
}
.hadiah_heading h3 {
	font-size: 20px;
	font-weight: 400;
	color: #776158;
	text-transform: none;
	text-align: left;
	letter-spacing: 1px;
}
.hadiah_img.last .hadiah_teks {
	margin-top:-40px;
}

/*=======================================================
			MEKANISME
========================================================*/
#mekanisme {
	margin-top:80px;
}
#mekanisme .mekansime_wrapper {
	margin: 0 auto;
	width: 95%;
	position: relative;
	margin-top: 10px;
}
.mekanisme_heading {
	position: relative;
	margin: 20px 0;
	text-align: center;
}
.mekanisme_content {
	width:70%;
	margin:0 auto;
	padding-left:10px;
}
.mekanisme_content p {
	line-height: 22px;
	margin-top: 15px;
	color: #646464;
	font-size: 16px;
}
#cta_ikutan {
	padding:80px 0;
}
.ikutan a {
	color: #8f5d30;
	font-size: 36px;
	padding: 10px 100px;
	border:1px solid #8f5d30;
	margin:0 30px 0 30px;
	transition: all .3s; -webkit-transition: all .3s;
}
.ikutan a:hover {
	background-color: #8f5d30;
	border:0;
	color: #eae5da;
}
.arr-left-ikut {width:124px;display: inline-block;}
.arr-right-ikut {width:124px;display: inline-block;}
.arr-right-ikut:before{content: ""; width: 124px; height: 116px; display: inline-block; vertical-align: middle; background: url(../images/ikutan-left.png); background-size:cover; position: relative; margin-right: 12px;}
.arr-left-ikut:after{content: ""; width: 124px; height: 116px; display: inline-block; vertical-align: middle; background: url(../images/ikutan-right.png); background-size:cover; position: relative; margin-right: 12px;}
/*=======================================================
			PORTFOLIO
========================================================*/
#portfolio {
	padding: 80px 0;
	padding-bottom: 0px;
}
#portfolio .tittle h4 {
	color: #fff;
}
.filter {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}
.filter li a {
	padding: 15px 30px;
	font-size: 14px;
	color: #000;
	font-weight: 300;
	display: inline-block;
	margin: 0px 5px;
	text-decoration: none;
	border-radius: 4px;
	text-transform: uppercase;
}
.filter li a:hover {
	background: #ff5b4a;
	color: #fff;
}
.filter li a.active {
	background: #ff5b4a;
	color: #fff;
}
.filter li {
	margin: 0;
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.isotope-item {
	z-index: 2;
	display: block !important;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
}
.isotope .isotope-item {
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
}
.portfolio .item {
	display: inline-block;
	padding: 0;
	overflow: hidden;
}
.portfolio .port-item {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	overflow: hidden;
	height: 195px;
	width: 195px;
	background: #fff;
	margin: 45px;
	position: relative;
}
.portfolio .port-item img {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: -45px;
	margin-left: -45px;
}
.portfolio .item p {
	color: #000;
}
.portfolio .item h5 {
	color: #000;
	font-weight: 600;
	margin-bottom: 5px;
}
.portfolio .item img {
}
.portfolio li:nth-child(5) {
	margin-left: 143px;
	margin-top: -135px;
}
.port-item-6 {
	margin-left: 0px;
	margin-top: -135px;
}
.port-item-7 {
	margin-left: 0px;
	margin-top: -135px;
}
.port-item .des a {
	position: absolute;
	top: 50px;
}
.port-item .des a.zoom {
	left: 75px;
}
.port-item .des a.link {
	right: 75px;
}
.port-item .des {
	display: inline-block;
	width: 100%;
	padding: 5px 15px;
	position: relative;
	z-index: 6;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: 45px;
	color: #fff;
	margin-left: -25px;
	margin-top: 60px;
}
.port-item .des h5 {
	color: #fff;
}
.img:hover .des {
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}
.img {
	position: relative;
	overflow: hidden;
}
.over {
	display: block;
	position: absolute;
	z-index: 5;
	bottom: 100%;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.img:hover {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.img:hover .over {
	bottom: 0px;
	display: block;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#submission {
	padding:80px 0 200px 0;
}
#coporate {
}
#coporate #banner {
	background: none;
	background-size: cover;
	height: auto;
}
#coporate #banner .text {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 18%;
}
#coporate #banner .text .btn {
	border: 1px solid #fff;
	padding: 10px 30px;
}
#coporate #banner .text .btn:hover {
	background: #fff;
	color: #000;
}
#coporate #banner .text h2 {
	color: #fff;
	font-size: 45px;
	font-weight: 300;
	text-transform: none;
}
#coporate #banner .text p {
	font-size: 18px;
	line-height: 30px;
}
#coporate  .blog_area{
	padding-top: 50px;
}
#coporate #banner .item:nth-child(1) {
	background: url(../images/bg/banner-cor-bg.jpg) fixed center center no-repeat;
	background-size: cover;
}
#coporate #banner .item:nth-child(2) {
	background: url(../images/bg/banner-cor-bg-1.jpg) fixed center center no-repeat;
	background-size: cover;
}
#coporate #banner .item:nth-child(3) {
	background: #fff;
}
#coporate .creative {
	height: auto;
	background: #f7f7f7;
	padding: 70px 0;
}
#coporate hr {
	background: #e7c0c3;
	height: 1px;
	width: 100%;
	margin: 0 auto;
	border: none;
	margin-bottom: 25px;
	margin-top: 20px;
}
#coporate #about .tabs {
	width: 100%;
}
#coporate #about .nav-tabs > li {
	margin: 0px;
	position: relative;
	border: 2px solid;
	border-color: transparent;
}
#coporate #nav > ul > li.active:after {
	display: none;
}
#coporate #nav > ul > li:hover:after {
	display: none;
}
#coporate #nav li.active {
	border-bottom: 1px solid #3193c5;
}
#coporate #nav li.active a {
	color: #3193c5;
}
#coporate #nav li a {
	padding-bottom: 10px;
}
#coporate #about {
	padding-top: 20px;
	overflow:hidden;
	background:#fff;
}
#coporate #nav li {
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
#nav li a {
	padding: 20px 0;
}
#coporate .nav-tabs > li.active {
	margin-top: 0;
	border: 2px solid !important;
	border-color: #3193c5 !important;
}
#coporate #about .nav-tabs > li {
	width: 22.3%;
	background: none;
	display: inherit;
	padding: inherit;
	height: 200px;
	margin: 0;
	margin: 0 13px;
	border-radius: 4px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
#coporate #about .nav-tabs > li a span {
	color: #646464;
	font-family: 'Raleway', sans-serif;
	margin-top: 25px;
}
#coporate .inner-about {
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 0px;
	height: 200px;
	margin: 0 5px;
	border-radius: 4px;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
#coporate .creative h6 {
	color: #646464;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
#coporate .nav-tabs > li:hover {
	margin-top: 0;
	border: 2px solid !important;
	border-color: #3193c5 !important;
}
#coporate .creative p {
	color: #646464;
}

#coporate #about .nav-tabs > li img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	display: inline-block;
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#coporate #about .nav-tabs > li:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#coporate #about .nav-tabs > li.active img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#coporate #about .text {
	margin-left: 0px;
	margin-top: 30px;
}
#coporate .owl-item {
	height: auto;
}
#coporate .client_area {
	background: url(../images/bg/client-bg-cor.jpg);
	background-size: cover;
}
#coporate #owl-clients {
	margin-top: 70px;
}
#coporate #client .tittle {
	margin-top: 0px;
}
#coporate #owl-clients .owl-controls .owl-prev {
	left: -55px;
	background: #fff;
	color: #000;
	top: 10%;
}
#coporate #owl-clients .owl-controls .owl-next {
	right: -55px;
	background: #fff;
	color: #000;
	top: 10%;
}
#coporate .pricing_area {
	background: #f6f5f5;
}
#coporate .price {
	background: #4a4a4a;
}
#coporate .p-head {
	background: #696969;
}
#coporate .pre .price {
	background: #20688d;
}
#coporate .pre .p-head {
	background: #3193c5;
}
#coporate #price h2 {
	color: #464646;
}
#coporate #price .tittle {
	margin-top: 30px;
}
#coporate .price_btn {
	background: #4a4a4a;
}
#coporate .pre .price_btn {
	background: #3193c5;
}
#coporate .service_icon {
	border: 1px solid;
	border-color: transparent;
}
#coporate .col-md-4 .service_icon_bg img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#coporate .col-md-4:hover .service_icon {
	border: 1px solid;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	border-color: #3193c5;
	background: none;
}
#coporate .col-md-4:hover .service_icon_bg img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: none;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#coporate .our_work_menu li:hover,
.our_work_menu li.active {
	background: #845428;
}
#coporate .our_work_area {
	background: none;
}
#coporate .work_img {
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	width: 100%;
	margin-top: 30px;
}

#coporate .work_img a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#coporate .work_img a:before {
	content:"";
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	right:0;
	z-index:88;
}

#coporate .gallery_meta {
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	display: block;
	/* margin: 20px; */
  height: 88px;
  display: table-cell;
  margin: 9px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#coporate .work_img img {
	transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	margin: 0px;
	width: 100%;
}
#coporate #owl-port .owl-item {
	padding: 0 4px;
}
#coporate #owl-port .owl-buttons {
	display: none;
}
#owl-port .owl-page span {
	width: 30px;
	border-radius: 0px;
	height: 5px;
}
#owl-port .owl-page.active span {
	background: #3193c5;
}
#coporate .gallery_details {
	background: rgba(231,192,195,0.9);
	height: 100%;
	width: 100%;
	margin: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
}
#coporate .blog_date {
	position: relative;
	float: right;
	overflow: hidden;
	text-align: center;
	margin-left: 10px;
}
#coporate .blog_date p {
	color: #845428;
	margin: 0px;
}
#coporate .blog_content h4 a.content_title {
	/* margin-top: 30px; */
}
#coporate  .team_img{
	margin:0px;
	width:100%;
	position:relative;
	overflow:hidden;
	float: left;
}
#coporate  .single_social a:hover i.fa-facebook{
	color:#fff;
}
#coporate  .single_social a:hover i.fa-twitter{
	color:#fff;
}
#coporate  .single_social a:hover i.fa-google-plus{
	color:#fff;
}
#coporate .blog_content h4 a.content_title {
	background:none;
	border:0;
}
#coporate  #portfolio-item .item{
	padding:0px;
	position:relative;
	overflow:hidden;
}
#coporate  #portfolio-item .team-name{
	background:rgba(49,147,197,0.8);
	margin-top:-70px;
	height:70px;
	width:100%;
	float: left;
	display:inline-block;
	position:absolute;
	padding:0 20px;
	position:relative;
	overflow:hidden;
}
#coporate #portfolio-item .team-name p{
	line-height:70px;
	display:inline-block;
	margin:0px;
	text-transform:uppercase;
	float:left;
}
#coporate #portfolio-item .social_icons{
	display:inline-block;
	float:right;
	margin-top:17px;
}
#coporate #portfolio-item .social_icons a{
	height:34px;
	width:34px;
	line-height:34px;
	border:none;
	background:#fff;
	color:#3193c5;
	font-size:14px;
	line-height:34px !important;
}
#coporate #portfolio-item .social_icons a:hover i{
	color:#3193c5;
}
#coporate .inner-date {
	/* -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg); */
}
#coporate .b-tittle {
	float: left;
	width: 75%;
}

#coporate .add-submit .single_social {
	display: inline-block;
}
#coporate .social_area {
	padding: 0 10px;
}
#coporate .single_social a {
	background: #40403f;
}
#coporate .single_social a:hover {
	background: #3193c5;
	color: #fff !important;
}
#coporate .single_social a.no-bg {
	background: none;
	width:inherit;
}
#coporate .single_social a.no-bg:hover i {
	color:#c5ae88;
}
#coporate .single_social a.no-bg i {
	color:#776158;
}

#coporate .blog_content a:hover {
	background: #8f5d30;
}

/*=======================================================
			ADD SUBMISSION
========================================================*/
.submissionForm {
}
.submissionForm .form-group {
	margin-bottom:-11px;
	text-align: left;
}
#submission .add-submit {
	top: 0px;
	width: 100%;
	margin-top: 30px;
	text-align: center;
}
#submission .add-submit ul li {
	display: inline-block;
	margin: 0 10px;
	font-family: 'Raleway', sans-serif;
}
#submission .add-submit ul li i {
	margin-right: 10px;
	color: #7f7f7f;
}
#submission .add-submit .social_area {
	float: none;
}
#submission #contact {
	padding: 50px 0;
}
#submission #map {
	height: 560px;
}
#submission .contactForm .btn {
	background: #40403f;
	padding: 10px 40px;
	text-transform: uppercase;
	margin-top: 10px;
	border: none;
}
#submission .submission_area {
	position: inherit;
	padding: 0px 0 0;
}
#submission .add-submit {
	position: relative;
}
#submission .add-submit h2 {
	color: #776158;
}
#submission .submit:after {
	display: none;
}
#submission .submit input {
	background: #40403f;
	height: 40px;
	padding: 0 40px;
}
#submission .add-submit input {
	border: 1px solid #d6d6d6;
}
#addsubmission-thumbs { padding-top: 10px; overflow: hidden; }
#addsubmission-thumbs img, #addsubmission-largeImage {
   border: 1px solid #e7c0c3;
   background-color: #845428;
   cursor: pointer;
}
#addsubmission-thumbs img {
   float: left;
   margin-right: 6px;
	 margin-bottom: 6px;
	 width: 150px;
	 max-width: 150px;
}
#addsubmission-panel {
    position: relative;
}
#addsubmission-panel img {
  width:100%;
}
/*=======================================================
			GALLERY
========================================================*/
#gallery-user {padding:80px 0 0 0;}
#gallery-video {padding:80px 0;}
.user-photo {
  float: left;
	width:100px;
  position: relative;
	margin: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 1px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
	top: 50px;
	transform:translateY(-50%);
}
.ug-gallery-wrapper {
	margin: 0 auto !important;
}
.ug-textpanel.ug-trans-enabled {
	z-index: 3 !important;
}
/*=======================================================
			EDIT PROFILE
========================================================*/
#editprofile {
	padding:80px 0 200px 0;

}
.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

input.profile-pic-file-upload {
    display: none;
}
.profile-pic-circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 6px solid #845428;
}
img {
    max-width: 100%;
    height: auto;
}
.profile-pic-image {
  top: 167px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.profile-pic-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.profile-pic-upload-button {
  font-size: 1.2em;
}

.profile-pic-upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

/*=======================================================
			POPUP GALLERY
========================================================*/
/* .model-content{
	position: relative;
	height: 600px;
	overflow: hidden;
	width: 600px;
} */
.modal-header .close {
	background: transparent;
	color:#776158;
}
.modal-content {
	position: relative;
	top: 0px;
	text-align: center;
	background: #e7dabe;
}
.modal-content .img-pop {
	height: auto;
	overflow: hidden;
}
.img-pop img {
	width:100%;
}
.modal-content .p-detail {
	padding: 30px;
}
.p-detail .simplelineicons-demo .item-box {
	float: left;
	margin: 0 3em 1em 0;
}
.p-detail .simplelineicons-demo .popup-user {
	display: block;
	color: #845428;
	font-size: 18px;
	padding-top:40px;
}
.p-detail .simplelineicons-demo .popup-category {
	display: inline-block;
	color: #845428;
	font-size: 20px;
	text-transform: uppercase;
}
.p-detail .popup_date .inner-date p {
	color: #845428;
	padding-top:14px;
}
.modal-content .btn {
	margin: 0px;
	border: none;
}
button.close {
	padding: 5px 10px;
}
/* #owl-modal-gallery .item img{
    display: block;
    width: 100%;
    height: auto;
}*/
/* #owl-modal-gallery .owl-controls .owl-buttons {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
	left: 50%;
  transform: translateX(-50%);
} */
.owl-carousel .owl-controls {
    margin-top: 0 !important;
}
#owl-modal-gallery .owl-controls .owl-buttons div {
	width:40px;
	height: 40px;
	font-size: 26px;
	background-color:#444444;
	color: #e7dabe;
	padding:0;
	opacity: 1;
}


/*======================== FORM ========================*/
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	background-color: rgba(255,255,255,0.9);
	border: 1px solid rgba(132,84,40,0.9);
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #000000;
	font-family: inherit;
	font-size: 14px;
	padding: 6px 10px;
	margin: 0px 0px 8px 0px;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
	width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	background-color: rgba(255,255,255,1);
	border-bottom:1px solid #000;
	box-shadow: none;
	border-radius: 0;
}
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
 color: #999;
}


.error {
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	float: right;
	margin: -40px 4px 0 0;
	position: relative;
	top: 0;
}
.error i {
	background: none !important;
	border-radius: 0;
	-webkit-border-radius: 0;
	width: 12px !important;
	height: 12px !important;
	margin: 0px;
	padding: 0px;
}
.error i:before {
	color: #FF0000;
	content: "";
	font-family: FontAwesome;
	font-size: 11px;
	margin-right: 10px;
	vertical-align: top;
	width: 12px !important;
	height: 12px !important;
}
/*======================== ANIMATION ========================*/
.close:before, .close:after {
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.submission-form .submissionForm {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	text-align: center;
}
.submission-form .submissionForm .btn {
	background: none;
	border: 1px solid #845428;
	border-radius: 0;
	margin-top: 10px;
	padding:5px 10px;
	text-transform: uppercase;
}
.submission-form .submissionForm .btn:hover,
.submission-form .submissionForm .btn.selected {
	background: #845428;
	color: #FFF;
}

.custom-dropdown__select {
	font-size: inherit;
	padding: .5em;
	margin: 0;
}
.custom-dropdown__select--tomato {
	background-color: #f5f5f5;
	color: #999;
}
.custom-dropdown {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.custom-dropdown::before, .custom-dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}
.custom-dropdown::after {
	content: "\25BC";
	color: #fff;
	height: 1em;
	font-size: .625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	margin-top: -4px;
	margin-right: 3px;
}
.custom-dropdown::before {
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}
.custom-dropdown__select[disabled] {
	color: #fff;
}
.custom-dropdown--tomato::before {
	background-color: #6d6d6d;
	width: 40px;
	border-left: 1px solid rgba(0,0,0,.1);
}
.custom-dropdown--tomato::after {
	color: #fff;
}
/*=======================================================
			SOCIAL ICONS
========================================================*/
.social_icons {
	position: relative;
	z-index: 999;
}
.social_icons ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social_icons li {
	display: inline-block;
	list-style: none;
}
.social_icons a {
	display: block;
	width: 56px;
	height: 56px;
	margin: 0 5px 0px 0;
	font-size: 20px;
	line-height: 52px !important;
	text-decoration: none;
	text-align: center;
	color: #fff;
}
.social_icons a:hover i {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	color: #fff;
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-webkit-transition: 0.4s ease-in-out;
}
.social_icons .behance a:hover {
	color: #fff;
	background-color: #2b9ad2;
	border-color: #2b9ad2;
}
.social_icons .blogger a:hover {
	color: #fff;
	background-color: #ff6500;
	border-color: #ff6500;
}
.social_icons .deviantart a:hover {
	color: #fff;
	background-color: #536659;
	border-color: #536659;
}
.social_icons .dribbble a:hover {
	color: #fff;
	background-color: #f973a4;
	border-color: #f973a4;
}
.social_icons .facebook a:hover {
	color: #fff;
	background-color: #3b5a9b;
	border-color: #3b5a9b;
}
.social_icons .flickr a:hover {
	color: #fff;
	background-color: #ff0084;
	border-color: #ff0084;
}
.social_icons .forrst a:hover {
	color: #fff;
	background-color: #2f713d;
	border-color: #2f713d;
}
.social_icons .googleplus a:hover {
	color: #fff;
	background-color: #f63d26;
	border-color: #f63d26;
}
.social_icons .instagram a:hover {
	color: #fff;
	background-color: #507ea4;
	border-color: #507ea4;
}
.social_icons .lastfm a:hover {
	color: #fff;
	background-color: #da0019;
	border-color: #da0019;
}
.social_icons .linkedin a:hover {
	color: #fff;
	background-color: #0072b2;
	border-color: #0072b2;
}
.social_icons .paypal a:hover {
	color: #fff;
	background-color: #165c82;
	border-color: #165c82;
}
.social_icons .picasa a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .pinterest a:hover {
	color: #fff;
	background-color: #cb2027;
	border-color: #cb2027;
}
.social_icons .skype a:hover {
	color: #fff;
	background-color: #00aaf1;
	border-color: #00aaf1;
}
.social_icons .soundcloud a:hover {
	color: #fff;
	background-color: #ff6900;
	border-color: #ff6900;
}
.social_icons .stumbleupon a:hover {
	color: #fff;
	background-color: #eb4823;
	border-color: #eb4823;
}
.social_icons .twitter a:hover {
	color: #fff;
	background-color: #2baae1;
	border-color: #2baae1;
}
.social_icons .vimeo a:hover {
	color: #fff;
	background-color: #40b2dc;
	border-color: #40b2dc;
}
.social_icons .youtube a:hover {
	color: #fff;
	background-color: #ff3330;
	border-color: #ff3330;
}

/*=======================================================
			SLIDER
========================================================*/
#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .scrollable {
 *zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	color: #fff;
	width: 100%;
}
.slides-navigation a {
	position: absolute;
	display: block;
}
.slides-navigation a.prev {
	left: 0;
}
.slides-navigation a.next {
	right: 0;
}
.slides-pagination {
	position: absolute;
	z-index: 999;
	bottom: 100px;
	text-align: center;
	width: 100%;
}
.slides-pagination a {
	border-radius: 1px;
	width: 40px;
	height: 5px;
	background: rgba(255,255,255,0.5);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
	zoom: 1;
 *display: inline;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
	margin: 2px;
	overflow: hidden;
	text-indent: -100%;
}
.slides-pagination a.current {
	background: #fff;
}
/*=======================================================
			BANNER
========================================================*/
.bnr-text {
	position: absolute;
	top: 27%;
	width: 100%;
	display: inline-block;
	text-align: center;
}
.bnr-text h1 {
	line-height: 70px;
	margin: 0 0 25px;
	color:#fff;
}
.bnr-text p {
	font-size: 18px;
	font-style: italic;
	color: #fff;
	width:50%;
	margin:0 auto;
	line-height:27px;
}
.bnr-text .btn {
	border: 2px solid #fff;
	display: inline-block;
	border-radius: 0px;
	color: #fff;
	font-size: 16px;
	padding: 15px 35px;
	margin-top: 50px;
	background: none;
}
.bnr-text .btn:hover {
	background: #3193c5;
	border-color: #3193c5;
}

/*=======================================================
			SPACING
========================================================*/

.mr0 {
  margin-right: 0;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb48 {
  margin-bottom: 48px;
}
.mb56 {
  margin-bottom: 56px;
}
.mb64 {
  margin-bottom: 64px;
}
.mb72 {
  margin-bottom: 72px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb88 {
  margin-bottom: 88px;
}
.mb96 {
  margin-bottom: 96px;
}
.mb104 {
  margin-bottom: 104px;
}
.mb112 {
  margin-bottom: 112px;
}
.mb120 {
  margin-bottom: 120px;
}
.mb160 {
  margin-bottom: 160px;
}
.mt0 {
  margin-top: 0 !important;
}
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.mt24 {
  margin-top: 24px;
}
.mt32 {
  margin-top: 32px;
}
.mt40 {
  margin-top: 40px;
}
.mt48 {
  margin-top: 48px;
}
.mt56 {
  margin-top: 56px;
}
.mt64 {
  margin-top: 64px;
}
.mt72 {
  margin-top: 72px;
}
.mt80 {
  margin-top: 80px;
}
.mt88 {
  margin-top: 88px;
}
.mt96 {
  margin-top: 96px;
}
.mt104 {
  margin-top: 104px;
}
.mt112 {
  margin-top: 112px;
}
.mt120 {
  margin-top: 120px;
}
.mt160 {
  margin-top: 160px;
}
.p32 {
  padding: 0 32px;
}
.p24 {
  padding: 24px;
}
.p0 {
  padding: 0;
}
.pt0 {
  padding-top: 0;
}
.pt8 {
  padding-top: 8px;
}
.pt16 {
  padding-top: 16px;
}
.pt24 {
  padding-top: 24px;
}
.pt32 {
  padding-top: 32px;
}
.pt40 {
  padding-top: 40px;
}
.pt48 {
  padding-top: 48px;
}
.pt64 {
  padding-top: 64px;
}
.pt72 {
  padding-top: 72px;
}
.pt80 {
  padding-top: 80px;
}
.pt88 {
  padding-top: 88px;
}
.pt96 {
  padding-top: 96px;
}
.pt104 {
  padding-top: 104px;
}
.pt112 {
  padding-top: 112px;
}
.pt120 {
  padding-top: 120px;
}
.pt160 {
  padding-top: 160px;
}
.pt180 {
  padding-top: 180px;
}
.pt240 {
  padding-top: 240px;
}
.pb0 {
  padding-bottom: 0;
}
.pb8 {
  padding-bottom: 8px;
}
.pb16 {
  padding-bottom: 16px;
}
.pb24 {
  padding-bottom: 24px;
}
.pb32 {
  padding-bottom: 32px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb48 {
  padding-bottom: 48px;
}
.pb56 {
  padding-bottom: 56px;
}
.pb64 {
  padding-bottom: 64px;
}
.pb72 {
  padding-bottom: 72px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb88 {
  padding-bottom: 88px;
}
.pb96 {
  padding-bottom: 96px;
}
.pb104 {
  padding-bottom: 104px;
}
.pb112 {
  padding-bottom: 112px;
}
.pb120 {
  padding-bottom: 120px;
}
.pb160 {
  padding-bottom: 160px;
}
.pb180 {
  padding-bottom: 180px;
}
.pb240 {
  padding-bottom: 240px;
}
.ps10 {
	padding: 0 10px;
}
@media all and (max-width: 990px) {
  .mb-s-0 {
    margin-bottom: 0;
  }
  .mb-s-8 {
    margin-bottom: 8px;
  }
  .mb-s-16 {
    margin-bottom: 16px;
  }
  .mb-s-24 {
    margin-bottom: 24px;
  }
  .mb-s-32 {
    margin-bottom: 32px;
  }
  .mb-s-40 {
    margin-bottom: 40px;
  }
  .mb-s-48 {
    margin-bottom: 48px;
  }
  .mb-s-64 {
    margin-bottom: 64px;
  }
  .mb-s-72 {
    margin-bottom: 72px;
  }
  .mb-s-80 {
    margin-bottom: 80px;
  }
  .mb-s-88 {
    margin-bottom: 88px;
  }
  .mb-s-96 {
    margin-bottom: 96px;
  }
  .mb-s-104 {
    margin-bottom: 104px;
  }
  .mb-s-112 {
    margin-bottom: 112px;
  }
  .mb-s-120 {
    margin-bottom: 120px;
  }
}
@media all and (max-width: 990px) {
  .mb-sm-0 {
    margin-bottom: 0;
  }
  .mb-sm-8 {
    margin-bottom: 8px;
  }
  .mb-sm-16 {
    margin-bottom: 16px;
  }
  .mb-sm-24 {
    margin-bottom: 24px;
  }
  .mb-sm-32 {
    margin-bottom: 32px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .mb-sm-48 {
    margin-bottom: 48px;
  }
  .mb-sm-64 {
    margin-bottom: 64px;
  }
  .mb-sm-72 {
    margin-bottom: 72px;
  }
  .mb-sm-80 {
    margin-bottom: 80px;
  }
  .mb-sm-88 {
    margin-bottom: 88px;
  }
  .mb-sm-96 {
    margin-bottom: 96px;
  }
  .mb-sm-104 {
    margin-bottom: 104px;
  }
  .mb-sm-112 {
    margin-bottom: 112px;
  }
  .mb-sm-120 {
    margin-bottom: 120px;
  }
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-8 {
    margin-top: 8px;
  }
  .mt-sm-16 {
    margin-top: 16px;
  }
  .mt-sm-24 {
    margin-top: 24px;
  }
  .mt-sm-32 {
    margin-top: 32px;
  }
  .mt-sm-40 {
    margin-top: 40px;
  }
  .mt-sm-48 {
    margin-top: 48px;
  }
  .mt-sm-56 {
    margin-top: 56px;
  }
  .mt-sm-64 {
    margin-top: 64px;
  }
  .mt-sm-72 {
    margin-top: 72px;
  }
  .mt-sm-80 {
    margin-top: 80px;
  }
  .mt-sm-88 {
    margin-top: 88px;
  }
  .mt-sm-96 {
    margin-top: 96px;
  }
  .mt-sm-104 {
    margin-top: 104px;
  }
  .mt-sm-112 {
    margin-top: 112px;
  }
  .mt-sm-120 {
    margin-top: 120px;
  }
  .p0-sm {
    padding: 0;
  }
  .pt-sm-0 {
    padding-top: 0;
  }
  .pt-sm-8 {
    padding-top: 8px;
  }
  .pt-sm-16 {
    padding-top: 16px;
  }
  .pt-sm-24 {
    padding-top: 24px;
  }
  .pt-sm-32 {
    padding-top: 32px;
  }
  .pt-sm-40 {
    padding-top: 40px;
  }
  .pt-sm-48 {
    padding-top: 48px;
  }
  .pt-sm-64 {
    padding-top: 64px;
  }
  .pt-sm-72 {
    padding-top: 72px;
  }
  .pt-sm-80 {
    padding-top: 80px;
  }
  .pt-sm-88 {
    padding-top: 88px;
  }
  .pt-sm-96 {
    padding-top: 96px;
  }
  .pt-sm-104 {
    padding-top: 104px;
  }
  .pt-sm-112 {
    padding-top: 112px;
  }
  .pt-sm-120 {
    padding-top: 120px;
  }
  .pt-sm-160 {
    padding-top: 160px;
  }
  .pb-sm-0 {
    padding-bottom: 0;
  }
  .pb-sm-8 {
    padding-bottom: 8px;
  }
  .pb-sm-16 {
    padding-bottom: 16px;
  }
  .pb-sm-24 {
    padding-bottom: 24px;
  }
  .pb-sm-32 {
    padding-bottom: 32px;
  }
  .pb-sm-40 {
    padding-bottom: 40px;
  }
  .pb-sm-48 {
    padding-bottom: 48px;
  }
  .pb-sm-64 {
    padding-bottom: 64px;
  }
  .pb-sm-72 {
    padding-bottom: 72px;
  }
  .pb-sm-80 {
    padding-bottom: 80px;
  }
  .pb-sm-88 {
    padding-bottom: 88px;
  }
  .pb-sm-96 {
    padding-bottom: 96px;
  }
  .pb-sm-104 {
    padding-bottom: 104px;
  }
  .pb-sm-112 {
    padding-bottom: 112px;
  }
  .pb-sm-120 {
    padding-bottom: 120px;
  }
}
@media all and (max-width: 767px) {
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .mb-xs-8 {
    margin-bottom: 8px;
  }
  .mb-xs-16 {
    margin-bottom: 16px;
  }
  .mb-xs-24 {
    margin-bottom: 24px;
  }
  .mb-xs-32 {
    margin-bottom: 32px;
  }
  .mb-xs-40 {
    margin-bottom: 40px;
  }
  .mb-xs-48 {
    margin-bottom: 48px;
  }
  .mb-xs-64 {
    margin-bottom: 64px;
  }
  .mb-xs-72 {
    margin-bottom: 72px;
  }
  .mb-xs-80 {
    margin-bottom: 80px;
  }
  .mb-xs-88 {
    margin-bottom: 88px;
  }
  .mb-xs-96 {
    margin-bottom: 96px;
  }
  .mb-xs-104 {
    margin-bottom: 104px;
  }
  .mb-xs-112 {
    margin-bottom: 112px;
  }
  .mb-xs-120 {
    margin-bottom: 120px;
  }
  .mt-xs-0 {
    margin-top: 0 !important;
  }
  .mt-xs-8 {
    margin-top: 8px;
  }
  .mt-xs-16 {
    margin-top: 16px;
  }
  .mt-xs-24 {
    margin-top: 24px;
  }
  .mt-xs-32 {
    margin-top: 32px;
  }
  .mt-xs-40 {
    margin-top: 40px;
  }
  .mt-xs-48 {
    margin-top: 48px;
  }
  .mt-xs-56 {
    margin-top: 56px;
  }
  .mt-xs-64 {
    margin-top: 64px;
  }
  .mt-xs-72 {
    margin-top: 72px;
  }
  .mt-xs-80 {
    margin-top: 80px;
  }
  .mt-xs-88 {
    margin-top: 88px;
  }
  .mt-xs-96 {
    margin-top: 96px;
  }
  .mt-xs-104 {
    margin-top: 104px;
  }
  .mt-xs-112 {
    margin-top: 112px;
  }
  .mt-xs-120 {
    margin-top: 120px;
  }
	.mt-xs-160 {
    margin-top: 160px;
  }
  .p0-xs {
    padding: 0;
  }
  .pt-xs-0 {
    padding-top: 0;
  }
  .pt-xs-8 {
    padding-top: 8px;
  }
  .pt-xs-16 {
    padding-top: 16px;
  }
  .pt-xs-24 {
    padding-top: 24px;
  }
  .pt-xs-32 {
    padding-top: 32px;
  }
  .pt-xs-40 {
    padding-top: 40px;
  }
  .pt-xs-48 {
    padding-top: 48px;
  }
  .pt-xs-64 {
    padding-top: 64px;
  }
  .pt-xs-72 {
    padding-top: 72px;
  }
  .pt-xs-80 {
    padding-top: 80px;
  }
  .pt-xs-88 {
    padding-top: 88px;
  }
  .pt-xs-96 {
    padding-top: 96px;
  }
  .pt-xs-104 {
    padding-top: 104px;
  }
  .pt-xs-112 {
    padding-top: 112px;
  }
  .pt-xs-120 {
    padding-top: 120px;
  }
  .pt-xs-160 {
    padding-top: 160px;
  }
  .pt-xs-180 {
    padding-top: 180px;
  }
  .pt-xs-240 {
    padding-top: 240px !important;
  }
  .pb-xs-0 {
    padding-bottom: 0;
  }
  .pb-xs-8 {
    padding-bottom: 8px;
  }
  .pb-xs-16 {
    padding-bottom: 16px;
  }
  .pb-xs-24 {
    padding-bottom: 24px;
  }
  .pb-xs-32 {
    padding-bottom: 32px;
  }
  .pb-xs-40 {
    padding-bottom: 40px;
  }
  .pb-xs-48 {
    padding-bottom: 48px;
  }
  .pb-xs-64 {
    padding-bottom: 64px;
  }
  .pb-xs-72 {
    padding-bottom: 72px;
  }
  .pb-xs-80 {
    padding-bottom: 80px;
  }
  .pb-xs-88 {
    padding-bottom: 88px;
  }
  .pb-xs-96 {
    padding-bottom: 96px;
  }
  .pb-xs-104 {
    padding-bottom: 104px;
  }
  .pb-xs-112 {
    padding-bottom: 112px;
  }
  .pb-xs-120 {
    padding-bottom: 120px;
  }
  .pb-xs-180 {
    padding-bottom: 180px;
  }
  .pb-xs-240 {
    padding-bottom: 240px !important;
  }
}

.max-width-none {
	max-width: none;
}
/*!----------  MIXINS ----------*/
.v-align-children {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.v-align-children-column {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

@media all and (max-width: 990px) {
  .v-align-children {
    display: block !important;
  }
}
.v-align-transform {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
  z-index: 2;
}
.v-align-20 {
  position: relative;
  transform: translate3d(0, -20%, 0);
  -webkit-transform: translate3d(0, -20%, 0);
  top: 20%;
  z-index: 2;
}
.h-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-bottom {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}
.align-top {
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
}
